@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::after,
::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* -- fonts family -- */
  --ff-poppins: "Poppins", sans-serif;

  /* -- fonts weight -- */
  --fw-poppins-bold: 700;
  --fw-poppins-medium: 500;
  --fw-poppins-small: 400;
  --fw-poopins-very-smal: 200;

  /* -- color -- */
  --cc-light-color-text: #26262680;
  --cc-light-blue-color: #029de0;
  --cc-linear-gradient: #27def2;
  --cc-dark-color: #000;
  --cc-dark-blue: #020226;
  --cc-yellow-color: #fbd647;
  --cc-light-color-grey: #dedddd;
  --cc-color-green: #05f283;
  --cc-text-dark-color: #002b56;
  --cc-white: #fff;
  --cc-blue-violet: #0a0dad;
  --cc-blulish-grey: #abb8c3;
  --cc-primary-text-emphasis: #052c65;
  --cc-lighter-blue: #e9fofe;  
  --cc-color: rgb(65, 88, 208);
  --cc-yo: #7161e1;
  --cc-slide-bc: #002b56;

  /* -- transition -- */
  --transition-text: all .5 ease;
}

html{
  scroll-behavior: smooth;
}
body{
  background-color: #fff;
  font-size: 16px;
  font-family: var(--ff-poppins);
}

button, input{
  font-family: var(--ff-poppins);
}
.goto-header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  margin-inline: auto;
  padding: 10px 0;
  border-bottom: 1px solid #0000003b;
}

.goto-header p{
  font-weight: var(--fw-poppins-small);
  text-transform: uppercase;
  opacity: 60%;
  font-size: 0.7rem;
}

.goto-header img{
  margin-right: 10px;
}

.logo-navigation-header{
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
}

.inner-navigation-header{
  width: 92%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img{
  width: 70px;
}

.partnership-sides p{
  font-size: 0.4rem;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 10px;
}
.partnership-sides img{
  width: 130px;
}

.navigation-sides{
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-navigation img{
  width: 40px;
  margin-top: 10px;
}

.navigation-desktop-links{
  display: none;
}
.header-banner{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #2a03b6;
  gap: 3rem;
  padding: 10px 0;
}
.header-banner p{
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
}

.header-banner span a{
  color: #fff;
}

.header-banner img{
  width: 20px;
  margin-right: 20px;
}

.header-banner img:hover{
  background-color: #ffffff48;
}
#hero-section{
  min-height: 500px;
  padding-top: 50px;
  width: 100%;
  background: url(images/alx-pathway-slider-compressed.png);
  background-repeat: no-repeat;
  background-position:right;
  background-size: cover;
}

.gate-way-design{
  display: none;
}

/*
.dark-box{
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 20%;
  z-index: 1;
}

*/

.coding-text-hero-banner{
  margin-inline: auto;
  text-align: center;
}

.coding-text-hero-banner p{
  margin-bottom: 10px;
  color: var(--cc-yellow-color);
  font-size: 0.9rem;
}

.coding-text-hero-banner h3{
  color: #fff;
  font-size: 1.5rem;
  max-width: 340px;
  margin-inline: auto;
  margin-bottom: 10px;
}

.hero-banner-btn-learnmore{
  width: 280px;
  display: block;
  margin-inline: auto;
  padding: 8px 0;
  border: none;
  border-radius: 60px;
  background-color: transparent;
  border: 1px solid var(--cc-color-green);
  color: #fff;
  margin-bottom: 10px;
  font-size: 0.9rem;
}
.hero-banner-btn-applytoday{
  width: 280px;
  display: block;
  margin-inline: auto;
  padding: 8px 0;
  border: none;
  border-radius: 60px;
  background-color: var(--cc-color-green);
  margin-bottom: 10px;
  font-size: 0.9rem;
}
/*
.inner-hero-section{
  width: 95%;
  margin-inline: auto;
}

.inner-hero-section h2{
  color: #fff;
  font-weight: var(--fw-poppins-small);
  max-width: 300px;
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.inner-hero-section p{
  color: #fff;
  padding: 10px 20px;
  border-left: 3px solid var(--cc-linear-gradient);
}

.inner-hero-section span{
  color: var(--cc-yellow-color);
}

*/

.profile-rating-star-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  position: relative;
}

.profile-rating{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  margin-left: 70px;
}
.profile-rating img{
  border-radius: 40px;
  width: 50px;
  border: 2px solid var(--cc-color-green);
}

.profile-leader1{
  position: absolute;
  top: 0;
  left: -40px;
}
.profile-leader2{
  position: absolute;
  top: 0;
  left: 0;
}
.profile-leader3{
  position: absolute;
  top: 0;
  left: 40px;
}
.profile-leader4{
  position: absolute;
  top: 0;
  left: 80px;
}

.inside-header-banner{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 3.8rem;
}
.profile-star{
  margin-top: 40px;
}

.star-box span{
  color: var(--cc-yellow-color);
  font-size: 1.2rem;
}

.profile-star p a{
  color: #fff;
  font-size: 0.7rem;
}

#sliding-box-section{
  margin-top: 80px;
}

.sliding-box-heading{
  color: var(--cc-linear-gradient);
  text-align: center;
  margin-bottom: 10px;
}

.main-sliding-bar{
  background-color:#86b6fe48;
  border-radius: 7px;
}
.sliding-box-all{
  width: 80%;
  margin-inline: auto;
  margin-bottom: 40px;
}

.sliding-background-image{
  width: 100%;
  height: 150px;
  position: relative;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
} 

.sliding-background-image img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.sliding-background-image::after{
  content: "Now Open";
  position: absolute;
  width: 90px;
  top: 30px;
  left: 0;
  background-color: red;
  padding-left: 5px;
  color: #fff;
  font-size: 0.9rem;
}
.sliding-bottom{
  padding: 20px;
}

.sliding-bottom h4{
  font-weight: 600;
  font-size: 1rem;
  color: var(--cc-primary-text-emphasis);
}

.sliding-bottom-weeks{
  font-size: 1rem;
  margin-bottom: 20px;
  color: var(--cc-primary-text-emphasis);
}

.sliding-bottom button {
  color: var(--cc-primary-text-emphasis);
  padding: 10px;
  width: 100%;
  border-radius: 60px;
  border: none;
  background-color: var(--cc-color-green);
  cursor: pointer;
  font-size: 0.9rem;
}

.sliding-bottom-learn-more{
  text-align: center;
  margin-top: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  color: var(--cc-primary-text-emphasis);
}

#pathway-design-explain-section{
  margin-top: 150px;
  background-color:#86b6fe33;
  padding: 20px 0;
}

.inside-pathway-design-explain, .inside-need-help-section{
  width: 80%;
  margin-inline: auto;
}
.inside-pathway-design-explain img{
  width: 100%;
}
.pathway-design-heading{
  margin: 10px 0;
  font-size: 1.3rem;
}

.pathway-design-info{
  font-size: 1rem;
  margin-bottom: 10px;
}

.inside-pathway-design-explain ul{
  padding: 0px 20px;
  margin-bottom: 10px;
}

.inside-pathway-design-explain ul li{
  font-size: 1rem;
  margin-bottom: 10px;
}

.pathway-design-learn-more{
  padding: 10px 20px;
  border-radius: 70px;
  border: none;
  background-color: transparent;
  border: 1px solid var(--cc-linear-gradient);
  color: var(--cc-linear-gradient);
  margin-top: 10px;
  font-size: 0.9rem;
  transition: 0.3s ease-in;
}

.pathway-design-learn-more:hover{
  background-color: var(--cc-linear-gradient);
  color: #fff;
}

#need-help-section{
  background-color:#86b6fe33;
  margin-top: 40px;
  padding: 25px 0;
}

.ic-finder-box img{
  margin-right: 20px;
}

.ic-finder-box{
  display: flex;
  justify-content: flex-end;
}

.inside-need-help-section h4{
  text-align: center;
  font-size: 1.3rem;
  font-weight: var(--fw-poppins-medium);
  margin: 10px 0;
  color: var(--cc-primary-text-emphasis);
}

.inside-need-help-section p{
  text-align: center;
  font-size: 1rem;
  margin-bottom: 15px;
}

.inside-need-help-section button{
  display: grid;
  align-items: center;
  margin-inline: auto;
  padding: 8px 50px;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  border-radius: 70px;
  border : 1px solid var(--cc-primary-text-emphasis);
  color: var(--cc-primary-text-emphasis);
  transition: all 0.25s ease-in-out;
}

.inside-need-help-section button:hover{
  background-color: var(--cc-primary-text-emphasis);
  color: #fff;
}

.global-images{
  height: 150px;
  background: url(images/alx-global-quality-mobile-persone.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.partnership-global-quality-master-card{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 150px;
}
.partnership-global-quality-master-card p{
  font-size: 0.5rem;
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: right;
  margin-inline: auto;
  margin-top: 30px;
}
.partnership-global-quality-master-card img{
  width: 100%;
}

.global-bottom-quality{
  padding: 35px 25px;
}

.global-bottom-quality h4{
  color: var(--cc-primary-text-emphasis);
  font-weight: var(--fw-poppins-medium);
  font-size: 1.3rem;
  max-width: 250px;
  margin-bottom: 10px;
}

.global-bottom-quality p{
  font-size: 1rem;
  min-width: 360px;
}

#graduates-rewarding-section{
 background: linear-gradient(to bottom left, var(--cc-light-blue-color), var(--cc-primary-text-emphasis));
 padding: 40px 0;
}

.inside-rewarding-graduate-section{
  width: 80%;
  margin-inline: auto;
}

.inside-rewarding-graduate-section h4{
  color: #fff;
  font-weight: var(--fw-poppins-medium);
  font-size: 1.4rem;
  line-height: 1.3;
  margin-bottom: 20px;
}

.graduates-rewarding-card-section{
  position: relative;
  margin-bottom: 300px;
}
.card{
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  position: absolute;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card h3{
  color: #fff;
  margin-bottom: 5px;
  text-align: center;
}

.card p{
  color: #fff;
  font-size: 0.6rem;
  text-align: center;
}

.employment-rate-card{
  background-color: var(--cc-primary-text-emphasis);
  top: 20px;
  left: 20px;
}

.employment-rate-card h3{
  color: var(--cc-linear-gradient);
}
.global-demands-tech{
  background-color: var(--cc-yellow-color);
  top: 110px;
  left: 120px;
  z-index: 2;
}

.global-demands-tech h3{
  color: var(--cc-primary-text-emphasis);
}
.global-demands-tech p{
  color: var(--cc-primary-text-emphasis);
}

.graduates-satisfaction-score{
  background-color: var(--cc-yo);
  left: 200px;
}
.graduates-satisfaction-score span{
  color: var(--cc-yellow-color);
  margin-top: 5px;
}

.graduates-comment-box{
  background: linear-gradient(to bottom right, var(--cc-primary-text-emphasis), #ffffff15) ;
  padding: 35px 25px;
  border-radius: 10px;
}

.graduates-heading-comments{
  color: #fff;
  margin-bottom: 10px;
  font-weight: var(--fw-poppins-medium);
}

.graduates-comments-text{
  color: #fff;
  font-size: 0.9rem;
  margin-bottom: 30px;
}

.graduate-profile-details-section{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.graduate-profile-image img{
  border-radius: 200px ;
  width: 60px;
  height: 60px;
  aspect-ratio: 1/1;
}

.graduate-profile-name-details h4{
  margin-bottom: 0;
  font-size: 1rem;
}

.graduate-school-details{
  margin-top: 3px;
  margin-bottom: 0;
  font-size: 0.8rem;
  color: #fff;
}

.graduate-working-details{
  margin-bottom: 0;
  font-size: 0.8rem;
  color: #fff;
  margin-top: 3px;
}

#tech-expert-section-design{
  background: linear-gradient(to bottom left, #0371a0, #020226, #020226);
  padding: 35px 25px;
}

.inside-tech-expert-section h3{
  margin-bottom: 0;
  color: #fff;
  font-weight: var(--fw-poppins-medium);
  font-size: 1.5rem;
}

.inside-tech-expert-section h1{
  margin-top: 0;
  font-size: 2.2rem;
  color: var(--cc-linear-gradient)
}

.expert-programm-info{
  color: #fff;
  font-size: 1.1rem;
  max-width: 390px;
  margin-bottom: 20px;
}

.inside-tech-expert-section button{
  padding: 10px 30px;
  border: none;
  background-color: var(--cc-color-green);
  color: var(--cc-primary-text-emphasis);
  margin-bottom: 20px;
  border-radius: 80px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.inside-tech-expert-section button:hover{
  background-color: var(--cc-yellow-color);
}

.expert-explore-profile-section{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.expert-profile-image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right,  var(--cc-light-blue-color), #05f283 );
  margin-bottom: 10px;
}
.expert-profile-image img{
  width: 140px;
  border-radius: 50%;
  margin-inline: auto;
}

.expert-profile-name{
  text-align: center;
  margin-bottom: 0;
  font-size: 1rem;
  color: #fff;
}

.expert-works{
  text-align: center;
  margin-bottom: 0;
  font-size: 0.9rem;
  color: #fff;
  max-width: 200px;
}

#exceptional-programme-section{
  padding: 30px 0;
  background: linear-gradient(to bottom left, var(--cc-light-blue-color), var(--cc-primary-text-emphasis));
}

.inside-exceptional-programm{
  width: 85%;
  margin-inline: auto;
}

.inside-exceptional-programm h2{
  text-align: center;
  color: #fff;
  font-weight: var(--fw-poppins-medium);
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.exceptional-video-programme{
  width: 100%;
  height: 180px;
  background: url(images/exceptional-heading-programme.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  margin-bottom:8px;
}

.first-future-content-exceptional-programme{
  padding: 30px 20px;
  border: 1px solid #029de0;
  margin-bottom: 10px;
  border-radius: 7px;
}

.first-future-content-exceptional-programme h3{
  color: #27def2;
  font-weight: var(--fw-poppins-medium);
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.first-future-content-exceptional-programme p{
  color: #fff;
  font-size: 1rem;
  margin-bottom: 10px;
}

.first-future-content-exceptional-programme a{
  color: var(--cc-color-green);
  font-size: 1rem;
}

.exceptional-programme-are-you-ready{
  background-color: var(--cc-yo);
  padding: 30px 0;
  border-radius: 5px;
}

.exceptional-programme-are-you-ready h3{
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  font-weight: var(--fw-poppins-medium);
  max-width: 250px;
  margin-inline: auto;
  font-size: 1.1rem;
}

.exceptional-programme-are-you-ready button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  padding: 10px 25px;
  border: none;
  background-color: var(--cc-color-green);
  border-radius: 80px;
  color: var(--cc-primary-text-emphasis);
  cursor: pointer;
  font-size: 1rem;
}

#alx-fellowership-community{
  padding: 55px 35px;
}

.inside-alx-fellowership-community h3{
  color: var(--cc-primary-text-emphasis);
  font-weight: var(--fw-poppins-medium);
  font-size: 1.3rem;
}

.fellowership-community-info{
  margin-top: 10px;
  color: var(--cc-dark-blue);
  font-size: 0.9rem;
}

.fellowership-community-card{
  margin-top: 20px;
  width: 90%;
  margin-inline: auto;
  background-color:#86b6fe33;
  padding: 20px 10px;
  border-radius: 7px;
  margin-bottom: 170px;
}

.fellowership-images img{
  width: 250px;
  margin-inline: auto;
  display: grid;
  place-content: center;
  margin-bottom: 10px;
}
.fellowership-community-card h4{
  text-align: center;
  font-weight: var(--fw-poppins-medium);
  font-size: 1.1rem;
  margin-bottom: 15px;
  color: var(--cc-primary-text-emphasis);
}

.fellowership-community-card-info{
  font-size: 0.9rem;
  text-align: center;
  max-width: 250px;
  margin-inline: auto;
  margin-bottom: 50px;
}

footer{
  position: relative;
  background: linear-gradient(to bottom left, #0371a0, #020226);
  padding-top: 120px;
}

.ready-to-start-section{
  width: 80%;
  padding: 20px 0;
  background-color: var(--cc-yo);
  position: absolute;
  top: -70px;
  left: 40px;
  border-radius: 7px;
}

.ready-to-start-section h3{
  color: #fff;
  font-weight: var(--fw-poppins-medium);
  text-align: center;
}

.ready-to-start-section p{
  text-align: center;
  color: #fff;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.ready-to-start-section button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 70px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.ready-to-start-section button:hover{
  background-color: #fff;
  color: var(--cc-primary-text-emphasis);
}

.inside-footer-navigation{
  width: 80%;
  margin-inline: auto;
} 

.footer-down-links ul li{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.footer-down-links ul li a{
  font-size: 0.9rem;
  text-decoration: none;
  color: #fff;
}

.footer-hastag{
  width: 100%;
  text-align: center;
  margin-inline: auto;
  margin-top: 20px;
}

.footer-hastag p{
  display: inline-block;
  margin-left: 5px;
  font-size: 1.1rem;
  color: var(--cc-color-green);
  font-weight: var(--fw-poppins-bold);
}
@media screen and (min-width: 1100px){

  .menu-navigation{
    display: none;
  }

  .navigation-desktop-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  
  }

  .navigation-desktop-links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
  }

  .navigation-desktop-links ul li{
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
  }

  .navigation-desktop-links ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
    transition: 0.3s ease;
  }

  .navigation-desktop-links ul li a:hover{
    color: var(--cc-linear-gradient);
  }

  .navigation-desktop-links ul li a::before{
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: var(--cc-linear-gradient);
    transition: 0.3s ease;
  }

  .navigation-desktop-links ul li a:hover::before{
    width: 100%;
  }

  .navigation-desktop-links button{
    padding: 6px 20px;
    border: none;
    border-radius: 80px;
    background-color: transparent;
    border: 1px solid var(--cc-linear-gradient);
    color: var(--cc-linear-gradient);
    transition: 0.3s ease;
    cursor: pointer;
  }

  .navigation-desktop-links button:hover{
    background-color: var(--cc-linear-gradient);
    color: #fff;
  }
  .header-banner{
    gap: 0;
    width: 100%;
  }
  .inside-header-banner{
    gap: 25rem;
  }
  .header-banner p{
    text-align: center;
    font-size: 1rem;
  } 

  

}
